/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*utility*/
.center {
  text-align: center;
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/*utility*/

:root {
  font-size: 16px;
  font-family: 'Roboto';
}

body {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.background-wallpaper {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  background-size: cover;
  background-position: center;
}

/*buttons*/
.btn {
  transition: background-color 0.1s ease-in, backdrop-filter 0.1s ease-in;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  user-select: none;
}

.btn-active,
.btn-nav-active,
.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: none;
  margin-inline: 1px;
}

.btn-start {
  width: 8.5rem;
  height: 45px;
}

.btn-start:hover {
  margin: 0;
}

.btn-nav {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.btn-restart,
.btn-settings,
.btn-volume {
  border: none;
  background-color: transparent;
  font-size: 1.9rem;
  padding: 0;
  transition: transform 0.75s ease;
}

.btn-volume {
  display: flex;
  justify-content: flex-start;
  width: 50px;
}

.btn-restart:hover,
.btn-volume:hover,
.btn-settings:hover {
  color: rgba(255, 255, 255, 0.85);
}

.btn-save {
  color: #000;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 1px solid #fff;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.25rem;
}

.btn-exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: hsl(212, 9%, 67%);
  font-size: 1.5rem;
}

.btn-exit:hover {
  color: white;
}

/*buttons*/

.timer {
  font-size: 8rem;
  cursor: default;
  user-select: none;
}

.overlay {
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.modal {
  position: fixed;
  background-color: #000;
  z-index: 9999;
  font-size: 1.25rem;
  padding: 3rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 3rem;
  top: 3rem;
  width: 565px;
  height: 333px;
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.overlay-active,
.modal-active {
  opacity: 1;
  pointer-events: auto;
}

.modal-active {
  transform: translateY(0);
}

.modal-sidebar {
  display: grid;
  gap: 1rem;
}

.modal-sidebar > * {
  position: relative;
  transition: color 0.2s ease;
}

.modal-sidebar > *:hover {
  color: hsl(212, 9%, 67%);
}

.active-modal::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.settings-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.timers-setting-page {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  align-items: center;
}

.timers-setting-page input[type='number'] {
  background-color: #000;
  border: 1px solid hsl(212, 9%, 67%);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  width: 100px;
}

.timer-setting {
  display: grid;
  gap: 0.25rem;
}

.timer-setting span {
  font-size: 0.85rem;
  color: hsl(212, 9%, 67%);
}

select {
  background-color: #000;
  border: 1px solid hsl(212, 9%, 67%);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
}

input[type='range'] {
  width: 100%;
  margin-top: 0.5rem;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: hsl(212, 9%, 67%);
}

.alert-vol {
  margin-top: 1rem;
}

/* Thumb: webkit */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}

/* Thumb: Firefox */
input[type='range']::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}
